@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

* {
	padding: 0;
	margin: 0;
}

html, body {
	background-image:url('../images/red_dots.png');
	padding-right: 2px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color:#4D5256;
	height: 100%;
}

#wrapper {
	background-color: #FFF;
	width: 75%;
	min-height: 100%;
	margin: 0 auto;
	border: 1px solid #4D5256;
}

#banner img{
	border-top:1px solid #4D5256;
	border-bottom: 1px dashed #4D5256;
	padding-left: 20px;
	padding-bottom: 20px;
}

h1, h2 {
	font-family: 'Droid Sans', sans-serif;
	padding: 5px;
}

h1 {
	text-align: center;
	border-bottom: 1px solid #121212;
	padding: 30px;
	margin-top: 10px;
	margin-bottom: 30px;
	font-size: 4em;
	color: #E02D2D;
	font-weight: bold;
}
#item_form {
	margin: 0 auto;
	padding: 20px;
}

#inventory {
	margin: 0 auto;
	padding: 20px;
}

table {
	border-collapse: collapse;
}

table td, table th {
	padding: 5px;
}

input {
	margin-top: 10px;
}

h2 {
	margin-bottom: 10px;
}
